body{
    background-color: blanchedalmond;
}
h2 {
    color: darkkhaki;
    text-decoration: underline;
    t
}
#titulo{
    background-color: #ffcb3b;
    text-align: center;
}
.parrafo{
    color: tomato;
    font-size: 1,70em;
}

